#start_btn,#end_btn {
    text-align: center; 
    height: 50px; 
    width: 100px;
}

h2 {
    text-align:center;
}

#content {
    text-align: center;
}

.btn_wrapper {
    margin: 0px 47%;
}


body {
    font-family: "Lato";
    margin: 0;
    padding: 0;
}

#myKanban {
    overflow-x: auto;
    padding: 20px 0;
}

.success {
    background: #00b961;
}

.info {
    background: #2a92bf;
}

.warning {
    background: #f4ce46;
}

.error {
    background: #fb7d44;
}

.custom-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 15px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.task {
    background-color: #F4CE46;
}
.progress {
    background-color: #2A92BF;
}
.done {
    background-color: #00B961;
}